<div id="card" class="transition-all duration-200 rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl">
  <a href="{{post_url}}">
    <div class="bg-cover h-32" style="background-image: url({{cover_image}})"></div>
    <div id="card-body" class="p-4 max-h-40">
      <h3 class="text-xl lg:text-2xl xl:text-3xl text-black underline decoration-light-orange">{{post_title}}</h3>
      <p class="text-sm lg:text-lg text-gray italic">{{post_date}}</p>

      <p class="text-md lg:text-xl text-gray hidden lg:block">{{post_caption}}</p>
    </div>
  </a>
</div>