<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/9f3da960b8.js" crossorigin="anonymous"></script>
    <script src="./tailwind-styles.js"></script>

    <title>{{site_name}}</title>

  </head>
  <body class="bg-off-white font-serif m-2">

    <div id="title" class="text-center">
      <a href="/index.html"class="text-6xl lg:text-8xl underline decoration-light-blue py-4 text-black">{{site_name}}</a>
      <br>
      <p class="italic text-gray">a scrumptious stockpile of sporadic sustenance shenanigans</p>
    </div>

    <div id="layout-wrapper" class="grid grid-row-3 lg:grid-cols-5 gap-8 p-16">

      <div id="left-tags-column" class="text-gray hidden lg:block">
        <h3 class="text-3xl underline decoration-light-orange">Tags</h3>
        {{tag_list}}
      </div>

      <div id="posts-list" class="col-span-3 text-black">
        {{card_list}}
      </div>
      <div id="right-tags-column" class="text-gray block lg:hidden">
        <h3 class="text-3xl underline decoration-light-orange">Tags</h3>
        {{tag_list}}
      </div>
    </div>

  </body>
</html>
